<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cai.mapper.FirstAppCoursevideolistMapper">
  <resultMap id="BaseResultMap" type="com.cai.model.CourseVideoList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="catalog" jdbcType="VARCHAR" property="catalog" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="videoUrl" jdbcType="VARCHAR" property="videourl" />
    <result column="courseVideo_title_id" jdbcType="INTEGER" property="coursevideoTitleId" />
  </resultMap>
  <select id="getByIndexCourseId" resultMap="BaseResultMap" >
    select * from first_app_coursevideolist where courseOrder = #{courseOrder} and courseVideo_title_id = #{courseId}
  </select>

  <select id="getByCourseId" resultMap="BaseResultMap" >
    select * from first_app_coursevideolist where courseVideo_title_id = #{courseId}
  </select>
</mapper>